.portada{
  border: 1px solid;
  background-image: url("../img/portada_cotizador.jpg");
  background-size: cover;
  background-position-y: 50%;
  height: 400px;
  padding-top: 100px;
  border-style:solid;
}

.cotizador{
  border: 1px solid white;


}
.container-cotizador{

  border: 2px solid magenta;
  margin-top: -100px;
  background-color: #FFFFFF;

}

.container-custom{


}

.container-clean{
    border: 1px solid blue;
      margin-top: -100px;
      background-color: #FFFFFF;

}

.portada img{
  height: 90px;
  width: 90px
}

.portada .texto-portada{
  height: 58px; width: 460px; color: #FFFFFF; font-family: Roboto;  font-size: 22px;  line-height: 29px;
}

.portada .texto-portada-1{
  height: 29px; width: 390px; color: #FFFFFF; font-family: Roboto;  font-size: 22px;  font-weight: 900; line-height: 29px;

}
.contenedor-texto{
  height: 58px; width: 460px; color: #343A40; font-family: Roboto;  font-size: 50px;  line-height: 50px; margin-top: 50px;


}


.container-1{
  display:flex;
justify-content: space-between;
width: 50%;
height: 90px;
margin-top: 40px;




}

.container-1 div{

  border:2px #ccc solid;
  padding: 20px;
  border-style:solid;



}
.container-1-box{
flex-basis:30%;

}


.box-1{
  border: 2px solid blue;

}

.box-2{
    border: 2px solid blue;



}

.box-3{
  border: 2px solid blue;


}
.box-4{
  border: 2px solid blue;


}

.btn-main{
  background: #9032c8;
    color: #fff;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s
}
.footer {
  background-color: #f0f0f0;
  border-top: 1px solid #F0F0F0;
  padding: 36px 0px;
  line-height: 36px;

  a{
    decoration: none;
    color: rgba(18, 11, 23, 0.4) !important;
  }
}
